@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-bg: #F5F5F5;
  --color-secondary-bg: #E0E0E0;

  --color-primary-fg: #6200EE;
  
  --color-secondary-text: #6B7280;
  --color-border: #D1D5DB;

  --color-danger: #EF4444;

  --font-deca: 'Lexend Deca';

  --animate-fade-in: fadeIn 0.2s;
}

.dark {
  --color-primary-bg: #302742;
  --color-secondary-bg: #3E2D54;

  --color-primary-fg: #BB86FC;
  
  --color-secondary-text: #94A3B8;
  --color-border: #555555;

  --color-danger: #E63946;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('./assets/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}