@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary-bg: #302742;
  --color-secondary-bg: #3E2D54;

  --color-primary-fg: #BB86FC;
  
  --color-secondary-text: #94A3B8;
  --color-border: #555555;

  --font-deca: 'Lexend Deca';
}