@import "tailwindcss";

@theme {
  --color-primary-bg: #302742;
  --color-secondary-bg: #3E2D54;

  --color-primary-fg: #BB86FC;
  
  --color-secondary-text: #94A3B8;
  --color-border: #555555;

  --font-deca: 'Lexend Deca';
  
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('./assets/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}